body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ec8b5e;
  background: #141a46;
  background: radial-gradient(
    circle,
    #141a46 0%,
    #141a46 55%,
    #0f1333 100%
  );
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#content-container {
  height: 80vh;
  margin-top: 8vh;
  /* chage background to transparent */
  background: white; 
}
