body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ec8b5e;
  background: #141a46;
  background: radial-gradient(circle, #141a46 0%, #141a46 55%, #0f1333 100%);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#content-container {
  height: 80vh;
  margin-top: 8vh;
}

#factor-grid {
    margin: 20px;
    margin-top: 40px;
}

#factor-status {
    color: white;
    text-align: center;
    padding: 40px;
    font-size: 150%;
    background: #ec8b5e;
}

#factor-status:hover {
    background: #d97f57;
}

#factor-status-score {
    font-size: 300%;
    padding-bottom: 20px;
}

#factor-status a, #factor-status a:link, #factor-status a:visited {
  color: white;
}

.red-factor #factor-status-score a,
.red-factor #factor-status-score a:link,
.red-factor #factor-status-score a:visited {
    color: #ec5e5e;
}

.yellow-factor #factor-status-score a,
.yellow-factor #factor-status-score a:link,
.yellow-factor #factor-status-score a:visited {
    color: #ecd45e;
}

.green-factor #factor-status-score a,
.green-factor #factor-status-score a:link,
.green-factor #factor-status-score a:visited {
    color: #94ec5e;
}

#bar-graph-title {
  font-size: 70px;
  margin-left: 2vw;
}
